*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:
linear-gradient(
180deg,
#07111f,
#030712
);

color:white;

text-align:center;

padding:20px;

min-height:100vh;
}

.logo{

width:180px;

margin:20px auto;

display:block;
}

h1{

color:#00d4ff;

margin-bottom:15px;

text-shadow:
0 0 10px #00d4ff,
0 0 20px #00d4ff;
}

.instituto{

font-size:22px;

font-weight:bold;
}

.integrantes{

margin:20px 0;

line-height:30px;
}

input{

width:100%;

max-width:350px;

padding:15px;

font-size:18px;

border-radius:15px;

border:none;

margin-top:20px;
}

button{

width:100%;

max-width:350px;

padding:18px;

font-size:18px;

font-weight:bold;

margin:15px auto;

display:block;

border:none;

border-radius:15px;

background:#00d4ff;

color:black;

cursor:pointer;
}

.imagenJuego{

width:100%;

max-width:500px;

border-radius:20px;

margin:20px auto;

display:block;

box-shadow:
0 0 15px #00d4ff;
}

.botones{

display:flex;

flex-direction:column;

gap:10px;
}

#feedback{

height:40px;

margin-top:15px;
}

.contenedorBarra{

width:100%;

height:15px;

background:#1a2235;

border-radius:20px;

overflow:hidden;

margin:15px auto;
}

#barra{

width:0%;

height:100%;

background:#00d4ff;

transition:1s;
}

#estadisticas{

background:#111827;

padding:20px;

border-radius:15px;

margin-top:20px;

line-height:35px;
}

#conclusion{

margin-top:20px;

padding:20px;

background:#1e293b;

border-radius:15px;
}

#certificado{

margin-top:25px;

padding:25px;

border:3px solid #00d4ff;

border-radius:20px;

background:#0f172a;
}

@media(min-width:768px){

body{
max-width:700px;
margin:auto;
}

}